<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">Graficos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink='/barra' routerLinkActive="router-link-active">Barras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/linea' routerLinkActive="router-link-active">Lineas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/torta' routerLinkActive="router-link-active">Torta</a>
                </li>
            </ul>
        </div>
    </div>
</nav>